<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>me.alaneuler.batteryKid.PrivilegeHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>me.alaneuler.batteryKid.PrivilegeHelper</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "me.alaneuler.batteryKid" and anchor apple generic and certificate leaf[subject.CN] = "Apple Development: alaneuler@qq.com (8G3Z3D84A5)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
</dict>
</plist>
